.popup {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    border-radius: 5px;
    
}

.popup-inner .icon {
    position: absolute;
    top: 16px;
    right: 16px;
    color: grey;
    align-items: "center";
}

.closeBtn {
    cursor: pointer;
}

.transform {
    transform: translate(200px);
}

.icon:hover {
    color:lightgray;
    transform: scale(0.95);
    transition-duration: 0.2s;
}


.headerStyle {
    font-family: Saira;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    align-items: left;
    color: black;
    padding-bottom: 2%;
    border-bottom: 1px solid #56cae9;
}

.hSeparator {
    background-color: #56cae9;
    color: #56cae9;
    height: 3px;
    width: 100%;
}

.pcontainer {
    width: 100%;
    display:flex;
}

.pleftContainer {
    width: 60%;

}

.prightContainer {
    position:relative;
    width: 40%;
    border-left: 1px solid #56cae9;
}

.fieldTitle {
    color: black;
    font-family: Saira;
    font-size: medium;
    align-items: left;
    color: black;
    margin-top: 2%;

}

.fieldData {
    color: black;
    font-family: Saira;
    font-size: small;
    align-items: left;
    color: black;
    margin-top: 2%
}

.btnContainer {
   display: flex;
   justify-content: center;
}

.accept-btn {
    background-color: #565be9;
    border: #565be9;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-family: "Saira";
    position:absolute;
    bottom:2%;
}

.accept-btn:hover {
    transform: scale(0.95);
    transition-duration: 0.2s;
}

.mapContainer {
    text-align:center;
    background-color: grey;
    border: grey;
    margin: 2%;
    height: 80%;
}

.otherNote {
    font-family: Saira;
    color: grey;
    font-size: 12px;
    margin: 10% 5%;

    text-align:center;
    
}

.row {
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.top, .bot, .mid{
    width: 100%;
    height: 25%;
    margin: 1% 0;
    display:flex;
    margin-top: 5%;
}

.imageContainer {
    object-fit: contain;
    align-self: flex-start;
    padding: 1%;
    margin-right:5%;
}

.textContainer {
    flex: 1 1 auto;
    font-family: Saira;
    margin-top: 0.5%;
    padding-left: 5%;
    border-left:1px solid #56cae9;
}

