.sidebarStyle {
    width: 20%;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #565be9;
    position: fixed;
    padding: 0.5%
}

.headingStyle {
    font-family: Saira;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 63px;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 7%;
    padding: 2%;
}

.bodyStyle {
    font-family: Saira;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2%
}

.listStyle {
    list-style-type: none;
    font-size: 80%
}

.listEntry {
    margin: 20px 0
}

.clickableListEntry {
    margin: 20px 0;
    cursor: pointer
}

.clickableListEntry:hover {
    transform: scale(0.95);
    transition-duration: 0.2s;
}

.inlineImg {
    text-decoration: none
}

.sIconStyle {
    color: white;
    position: relative;
    align-items: center;
    margin-right: 20px;
    top: 5px;
    left: 5px
}

.topSeparator,
.bottomSeparator {
    background-color: #c1c8e4;
    margin: 10% 5%;
    height: 3px;
}

.manageProfile {
    position: absolute;
    bottom: 2%;
    width: 95%
}